body{
    height: 100%; 
    font-family: 'Noto Sans', sans-serif;
    background-color:  rgb(243, 224, 184);
}

nav .logo{
    width: 5rem;
}
 
  .contact_form{  
    width: 460px; 
    height: auto;
    margin: 80px auto;
    border-radius: 10px;  
    padding-top: 30px;
    padding-bottom: 20px;  
    background-color: #fbfbfb; 
    padding-left: 30px; 
  }
  
  
  input{
    background-color: #fbfbfb; 
    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: goldenrod
    margin-top 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
  }
  
  
  textarea{
    background-color: #fbfbfb; 
    width: 405px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: black; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
  }
  
  
  label{
    display: block; 
    float: center;  
  }
  
  
  button{
    height: 45px; 
    padding-left: 5px;
    padding-right: 5px;   
    margin-bottom: 20px; 
    margin-top: 10px;   
    text-transform: uppercase;
    background-color: rgb(243, 190, 57);
    border-color: goldenrod; 
    border-style: solid; 
    border-radius: 10px;  
    width: 420px;   
    cursor: pointer;
  }
  
  
  button p{
    color: rgb(238, 231, 212); 
  }
  
  
  span{
    color: goldenrod; 
  }
  
  
  .aviso{
    font-size: 13px;  
    color: #0e0e0e;  
  }
  
  
  h1{
    font-size: 39px;  
    text-align: letf; 
    padding-bottom: 20px; 
    color: goldenrod;
  }
  
  
  h3{
    font-size: 15px; 
    padding-bottom: 30px;
    color:black;   
  }
  
  
  p{
    font-size: 14px; 
    color: goldenrod; 
  }
  
  
  ::-webkit-input-placeholder {
   color: #a8a8a8;
  }
  
  
  ::-webkit-textarea-placeholder {
   color: #a8a8a8;
  }
  
  
  .formulario input:focus{
    outline:0;
    border: 1px solid goldenrod;
  }
  
  
  .formulario textarea:focus{
    outline:0;
    border: 1px solid goldenrod;
  }
  








/*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: sans-serif;    
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 10px;
    font-family: "poppins" sans-serif;
    background-color: #1c3f5a;    
}
.container{
    max-width: 800px;
    background: #fff;
    width: 800px;
    padding: 25px 40px 10px 40px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.1);
    overflow: hidden;
}
.container .text{
    text-align: left;
    font-size: 41px;
    font-weight: 600;
    font-family: "poppins" sans-serif;
    background: -webkit-linear-gradient(
        right #56d8e4, #9f01ea, #56d8e4, #9f01ea);
        /*-webkit-background-clip: text;*/
       /* -webkit-text-fill-color: transparent;        
}
.container form{
    padding: 30px 0 0 0; 
      
}
.container form .form-row{
    display: flex;
    margin: 32px 0;
    overflow: hidden;     
}
form .form-row .input-data{
    width: 100%;
    height: 40px;
    margin: 0 20px;
    position: relative;
}
form .form-row .textarea{
    height: 70px;    
}
.input-data input,
.textarea textarea{
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid rgba(0,  0, 0, 0.12);
}
.input-data input:focus ~ label,
.textarea textarea:focus ~ label,
.input-data input:valid ~ label,
.textarea textarea:valid ~ label{
    transform: translate(-20px);
    font-size: 14px;
    color: #3498db;    
}
.textarea textarea{
    resize: none;
    padding-top: 10px;    
}
.input-data label{
    position: absolute;
    pointer-events: none;
    bottom: 10px;
    font-size: 16px;
    transition: all 0.3 ease;
}
.textarea label{
    width: 100%;
    bottom: 40px;
    background: #fff;
}
.input-data .underline{
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;    
}
.input-data .underline::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    background: #3498db;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}
.input-data input:focus ~ .underline::before,
.input-data input:valid ~ .underline::before,
.textarea textarea:focus ~ .underline::before,
.textarea textarea:valid ~ .underline::before {
    transform: scale(1);
}
.submit-btn .input-data{
    overflow: hidden;
    height: 45px  !important;
    width: 25%  !important;  

}
.submit-btn .input-data .inner{
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    background: -webkit-linear-gradient(
        right #56d8e4, #9f01ea, #56d8e4, #9f01ea);
        transition: all 0.4s;
}
.submit-btn .input-data:hover .inner{
    left: 0;
}
.submit-btn .input-data input{
    background: none;
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    position: relative;
    z-index: 2;   
}*/
/*@media (max-width: 700px) {
    .container .text{
        font-size: 30px;    
}
.container form {
    padding: 10px 0 0 0;    
}
.container form .form-row{
    display: block;
}
form .form-row .input-data{
    margin: 35px 0 !important;
}
.submit-btn .input-data{
    width: 40% !important;
 }  
}
